.contract-received{
    
    .preview{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .user-name{
            font-weight: bold;
        }
    }

    .hide{
        display: none;
    }
    .content{
        padding: 10px;
        div {
            margin-bottom: 10px;
            white-space: pre-wrap;
        }
    }
}